.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #f5f5f7;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.nav,
.header__left,
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  font-size: 32px;
  font-weight: var(--font-bold);
}

.wrapper-main {
  padding-top: 144px;
}
