@model Role;

@{
    ViewData["Title"] = "Roles | Create";
}

<div class="container">
    <section>
        <h2>Tạo chức vụ</h2>
        <hr>
        <form asp-action="Create" method="POST">
            <div class="form-group">
                <label class="form-label">mã chứ vụ</label>
                <input asp-for="Id"  class="form-control" placeholder="Nhập mã chức vụ">
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="form-label">Tên chức vụ</label>
                <input asp-for="Name"  class="form-control" placeholder="Nhập tên chức vụ">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
                <button class="btn btn-success">Tạo</button>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial  name="_ValidationScriptsPartial"/>
}