@{
     ViewData["Title"] = "Brands";
}

<div class="container">
    <section class="text-center">
        <h2>Nhãn hiệu</h2>
        <hr>
        <div class="mt-4">
            <table class="table table-striped table-bordered w-100" id="tblBrands" >
                <thead>
                    <tr>
                        <th scope="col"># Id</th>
                        <th scope="col">Tên nhãn hàng</th>
                        <th scope="col" >Thời gian tạo</th>
                        <th scope="col" >Thời gian cập nhật</th>
                        <th scope="col" >Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $("#tblBrands").DataTable({
                info: false,
                ajax: "/Admin/Brand/GetAllBrands",
                columns: [
                    {
                        data: "id",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "createdAt",
                        render: function(data, type) {
                            return `<td>
                                ${new Date(data).toLocaleDateString()}
                            </td>`
                        }
                    },
                    {
                        data: "updatedAt",
                        render: function(data, type) {
                            return `<td>
                                ${new Date(data).toLocaleDateString()}
                            </td>`
                        }
                    },
                    {
                        data: "id",
                        render: function(data, type) {
                            return `<td>
                                <a  href='/Admin/Brand/Edit?id=${data}'  class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil-square"></i>
                                        Chỉnh sửa</a>
                                <a href='#' class='btn btn-danger btn-sm' onclick='return handleDeleteAlert({deleteLink: "/Admin/Brand/Delete?id=${data}", redirectLink: "/Admin/Brand"})' >Xóa</a>
                            </td>`;
                        }
                    },
                ],
            })
        });
    </script>
}