@model List<BrandViewModel>;


<div class="container">
    <section class="text-center">
        <h2>Sản phẩm</h2>
        <hr>
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tên nhãn hàng</th>
                        <th scope="col" >Chức năng</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Count() <= 0) {
                        <tr>
                            <td colspan="3">
                                Danh sách rỗng 	&nbsp;	&nbsp;
                                <a asp-action="Create" class="btn btn-success">
                                    <i class="bi bi-plus-circle"></i>
                                    Tạo danh mục mới ?</a>
                            </td>
                        </tr>
                    }else {
                        @foreach(var item in Model) {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <th scope="row">@item.Name</th>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                        <i class="bi bi-x-circle"></i>
                                        Xóa
                                    </a>
                                    <a  asp-action="Edit"  asp-route-id="@item.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i>
                                        Chỉnh sửa</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </section>
</div>