@{
    ViewData["Title"] = "Dashboard | Admin Page";
}
<div class="container">
    <section class="text-center">
        <div class="header-admin">
            <h2 class="header__title">Bảng điều kiển</h2>
            <button class="btn btn-primary btn-sm">
                <i class="bi bi-arrow-bar-down"></i>
                Lưu báo cáo</button>
        </div>
        <hr>

        <div class="body">
            <div class="header-body">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card-bus shadown card-bus--border-blue">
                            <div class="card-bus__left">
                                <p class="card-bus__title mb-1 text-info">THU NHẬP (HÀNG THÁNG)</p>
                                <p class="card-bus__price">$40,000</p>
                            </div>
                            <div class="card-bus__right">
                                <i class="bi bi-calendar-minus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-bus shadown card-bus--border-green">
                            <div class="card-bus__left">
                                <p class="card-bus__title mb-1 text-success">THU NHẬP (HÀNG NĂM)</p>
                                <p class="card-bus__price">$40,000</p>
                            </div>
                            <div class="card-bus__right">
                                <i class="bi bi-currency-dollar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-bus shadown  card-bus--border-yellow">
                            <div class="card-bus__left">
                                <p class="card-bus__title mb-1 text-warning">CÁC ĐƠN ĐÃ XỬ LÝ</p>
                                <p class="card-bus__price">50%</p>
                            </div>
                            <div class="card-bus__right ">
                                <i class="bi bi-list-task"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card-bus shadown  card-bus--border-aqua">
                            <div class="card-bus__left">
                                <p class="card-bus__title mb-1 text-primary">FEEDBACK CHƯA XEM</p>
                                <p class="card-bus__price">16</p>
                            </div>
                            <div class="card-bus__right">
                                <i class="bi bi-wechat"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="body-main mt-4">
                <div class="row">
                    <div class="col-lg-8">
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>

        
    </section>
</div>