@model Login;

@{
    ViewData["Title"] = "Admin Page";
    Layout = "_LayoutLoginAdmin";
}
<div class="container">
        <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9  w-50">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0 ">
                    <!-- Nested Row within Card Body -->
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome back ADMIN</h1>
                        </div>
                        <form asp-action="Login" method="POST" class="user">
                            <div class="form-group">
                                <input asp-for="Username" class="form-control form-control-user"
                                    placeholder="Nhập tên tài khoản của bạn...">
                                    <span class="text-danger" asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group mt-2">
                                <input asp-for="Password" type="password" class="form-control form-control-user"
                                   placeholder="Mật khẩu...">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group mt-2">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Đăng nhập cho lần sau ?</label>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-user btn-block mt-2 w-100">
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}