@model User 
<div class="header__user">
    <img src="/images/user.png" alt="user">
    <a href="/Admin/User/Settings">
        @Model.FirstName
        <i class="bi bi-caret-down-fill"></i>
    </a>
</div>