@model Slide;

@{
    ViewData["Title"] = "Slides | Update";
}

<div class="container">
    <section>
        <h2>Chỉnh sửa slide</h2>
        <hr>
        <form asp-action="Update" method="POST" enctype="multipart/form-data">
            <input hidden asp-for="Id">
            <input hidden asp-for="ThumbnailFilePath">
            <input hidden asp-for="ThumbnailFileName">
            <div class="form-group">
                <label for="txtName" class="form-label">Tên slide</label>
                <input asp-for="Name" id="txtName" class="form-control" placeholder="Nhập tên slide">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label class="form-label" for="ulfThumbnail">Thumbnail</label>
                <input name="fileThumbnail" type="file" accept="image/*" id="ulfThumbnail" class="form-control" >
            </div>

            <div class="form-group mt-2">
                <label for="txtLink" class="form-label">Link liên kết</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">https://</span>
                    </div>
                    <input asp-for="Link" class="form-control" id="txtLink" aria-describedby="basic-addon3" placeholder="Nhập liên kết slide">
                </div>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label for="txtOrder" class="form-label">Thứ tự sắp xếp</label>
                <input asp-for="Sort" id="txtOrder" class="form-control" placeholder="Nhập thứ tự">
                <span asp-validation-for="Sort" class="text-danger"></span>
            </div>

            <div class="form-group mt-4">
                <button class="btn btn-success">Lưu</button>
            </div>
        </form>
    </section>
</div>

@section Scripts {
    <partial  name="_ValidationScriptsPartial"/>
   
}