@model Product;

<div class="container wrapper-create-product">
    <h2 class="text-center">Tạo mới sản phẩm</h2>
    <hr>
    <section class="py-4">
        <form asp-action="Create" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label" for="fulThumbnail" >Thumbnail</label>
                        <input id="fulThumbnail" name="fileThumbnail" type="file" accept="image/*" class="form-control" > 
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="txtProductName" class="form-label">Tên sản phẩm</label>
                        <input id="txtProductName" asp-for="ProductName" class="form-control" placeholder="Nhập tên sản phẩm..."> 
                        <span class="text-danger" asp-validation-for="ProductName"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="txtProductDesc" class="form-label">Mô tả ngắn gọn sản phẩm</label>
                <input id="txtProductDesc" asp-for="Desc" class="form-control" placeholder="Nhập mô tả..."> 
            </div>
            <div class="form-group mt-3">
                <label for="txtProductPrice" class="form-label">Giá sản phẩm</label>
                <input id="txtProductPrice" asp-for="Price" class="form-control" placeholder="Nhập giá sản phẩm..." value="0"> 
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
            <div class="form-group mt-3">
                <label for="txtProductPromotionPrice" class="form-label">Giá khuyến mãi</label>
                <input id="txtProductPromotionPrice" asp-for="PromotionPrice" class="form-control" placeholder="Giá khuyến mãi..." value="0" > 
                <span class="text-danger" asp-validation-for="PromotionPrice"></span>
            </div>
            <div class="form-group mt-3">
                <label for="txtProductQuantity" class="form-label">Số lượng</label>
                <input id="txtProductQuantity" asp-for="Quantity" class="form-control" placeholder="Nhập số lượng..." value="0"> 
                <span class="text-danger" asp-validation-for="Quantity"></span>
            </div>
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" asp-for="IsHot" id="chkProductIsHot">
                <label class="form-check-label" for="chkProductIsHot">HOT</label>
            </div>

            <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="#">Nhà cung cấp</label>
                        <select class="form-select" asp-for="SupplierId" asp-items="@ViewBag.SUPPLIERS">
                            <option  disabled> -- Nhà cung cấp -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="#">Nhãn hiệu sản phẩm</label>
                        <select class="form-select" asp-items="@ViewBag.BRANDS" asp-for="BrandId">
                            <option  disabled> -- Nhãn hiệu sản phẩm -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="#">Danh mục sản phẩm</label>
                        <select class="form-select" asp-items="@ViewBag.PRODUCT_CATEGORIES" asp-for="ProductCategoryId">
                            <option  disabled> -- Danh mục sản phẩm -- </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="txtProductContent" class="form-label">Mô tả sản phẩm</label>
                <textarea asp-for="ContentHtml" id="txtProductContent" rows="10" class="form-control"></textarea> 
            </div>

            <div class="form-group mt-3">
                <button  class="btn btn-primary">Tạo mới sản phẩm</button> 
            </div>
        </form>
    </section>
</div>

@section Scripts {
        <script>
            $(document).ready(function() {
                tinymce.init({
                    selector: 'textarea',
                    plugins: 'mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
                    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                });
            })
        </script>
    <partial  name="_ValidationScriptsPartial"/>
}