@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --font-bold: 700;

  --text-color: #333;
  --primary-color: #d70018;
  --blue-color: #4e73df;

  --alpha-color-dark-1: rgba(0, 0, 0, 0.1);
  --alpha-color-dark-2: rgba(0, 0, 0, 0.2);
  --alpha-color-dark-4: rgba(0, 0, 0, 0.4);
  --alpha-color-dark-6: rgba(0, 0, 0, 0.6);
  --alpha-color-dark-8: rgba(0, 0, 0, 0.8);

  --alpha-color-light-1: rgba(255, 255, 255, 0.1);
  --alpha-color-light-2: rgba(255, 255, 255, 0.2);
  --alpha-color-light-4: rgba(255, 255, 255, 0.4);
  --alpha-color-light-6: rgba(255, 255, 255, 0.6);
  --alpha-color-light-8: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--text-color);
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: #000;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
